<div class="mt-4">
    <h3>
        <a href="/me/trash/courses">Thung rac ({{deletedCount}})</a>
        My course
    </h3>
    <table class="table mt-4">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên</th>
            <th scope="col">Trình độ</th>
            <th scope="col">Thời gian tạo</th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-success">Update</a>
                    <a href=""  class="btn btn-danger" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-course-modal">Delete</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Bạn chưa đăng khóa học nào.
                <a href="/courses/create">Đăng khóa học</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure delete?
      </div>
      <div class="modal-footer">
            <button id="btn-delete-course" type="button" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form class="mt-4" method="POST" name="delete-course-form">

</form>

<script>
  var deleteCourseModal = document.getElementById('delete-course-modal')
  var id
  var deleteForm = document.forms['delete-course-form']
  var btnDelete = document.getElementById('btn-delete-course')
  deleteCourseModal.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget
      id = button.getAttribute('data-id')
      
  })
  btnDelete.onclick = function(){
    deleteForm.action = '/courses/' + id + '?_method=DELETE'
    deleteForm.submit()
  }
</script>